* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(20deg, 
    rgb(255, 143, 143) 0%, 
    rgb(206, 115, 115) 25%, 
    rgb(156, 87, 87) 50%, 
    rgb(109, 61, 61) 75%, 
    rgb(73, 40, 40) 100%);
}

header {

}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    background: rgba(212, 97, 97, 0.3);
}

.main-logo {
    width: 250px;
    cursor: pointer;
}

.adminPanel-text {
    cursor: pointer;
}

.admin-text {
    font-weight: 300;
    font-size: 32px;
    color: #fff;
}

.panel-text {
    font-size: 50px;
    font-weight: 400;
    color: rgb(120, 0, 0);
}