<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer></script>
    <title>cyberAura</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="site-features-container">
            <div class="translate-block">
                <button id="rus-lang">
                    RUS
                </button>
                <button id="eng-lang">
                    ENG
                </button>
                <div class="highlight-block"></div>
            </div>

            <div class="change-theme-block">
                <button class="moon-logo-btn">
                    <img src="/static/icons/moonLight.svg" alt="Луна" class="moonLogo">
                </button>
            
                <button class="sun-logo-btn">
                    <img src="/static/icons/sunLight.svg" alt="Солнце" class="sunLogo">
                </button>
                <div class="highlight-block-theme"></div>
            </div>
        </div>
        
        <nav>
            <div class="logo-container">
                <img src="/static/icons/кибераура2.svg" alt="Логотип" class="logo">
            </div>

            <div class="nav-buttons">
                <button id="contact-btn">ОБРАТИТЬСЯ</button>
                <button id="info-btn">ИНФОРМАЦИЯ</button>
            </div>
        </nav>
    </header>
</body>
</html>